NODE_ENV=development
PORT=3000
POSTGRES_URL=postgresql://postgres:admin@localhost:5432/wallet_service
MONGODB_URL=mongodb+srv://codewithdeo:Admin123@deocluster.7ing7.mongodb.net/wallet_service
JWT_SECRET=super-secret-change-me
JWT_EXPIRES_IN=8h
TRANSFER_MIN_AMOUNT=10
TRANSFER_MAX_AMOUNT=10000
DEFAULT_CURRENCY=TZS
ADMIN_EMAIL=admin@wallet.local
ADMIN_PASSWORD=Admin123!
DEMO_USER_PASSWORD=User12345!